faiss-cpu
fastapi
fire==0.6.0
jieba==0.42.1
Markdown==3.6
markdown-it-py==3.0.0
matplotlib==3.5.3
networkx==2.6.3
nltk==3.8.1
numpy==1.23.5
onnxruntime==1.17.3
openai==1.23.6
pandas==2.2.2
pillow==10.3.0
py2neo==2021.2.4
pydantic==1.10.9
rasa==3.6.20
rasa-sdk==3.6.2
redis==4.6.0
regex==2022.10.31
requests==2.31.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.8
sanic==21.12.2
Sanic-Cors==2.0.1
sanic-jwt==1.8.0
sanic-routing==0.7.2
scikit-learn==1.1.3
scipy==1.10.1
SQLAlchemy==1.4.52
tensorboard
tensorflow==2.12.0
tiktoken
tokenizers
tqdm==4.66.2
transformers==4.40.1
uvicorn==0.29.0
flask_cors
flask